<div class="home-container">
  <h1>Dynamic Chess</h1>
  <p>A new way to play chess.</p>

  <ng-container *ngIf="savedUsername; else usernamePrompt">
    <div class="welcome-message">
      <h2>Welcome back, {{ savedUsername }}!</h2>
      <button (click)="changeUsername()">Change Username</button>
    </div>
  </ng-container>

  <ng-template #usernamePrompt>
    <div class="input-group username-prompt">
      <label for="newUsername">Choose a username to begin:</label>
      <input id="newUsername" type="text" [(ngModel)]="newUsername" placeholder="Enter your username" (keyup.enter)="saveUsername()">
      <button (click)="saveUsername()">Save</button>
    </div>
  </ng-template>

  <div *ngIf="savedUsername" class="game-setup">


    <div class="action-buttons">
      <button (click)="createRoom()">Create Room</button>
      <div class="join-room-group">
        <input type="text" [(ngModel)]="roomCode" placeholder="Enter Room Code">
        <button (click)="joinRoom()">Join Room</button>
      </div>
    </div>
  </div>

  <div class="navigation-buttons">
    <a routerLink="/rules">Rules</a>
  </div>
</div>