<div class="chessboard">
  <div *ngFor="let row of board; let i = index" class="board-row">
    <div *ngFor="let piece of row; let j = index"
         class="board-cell"
         [class.selected]="isSelected(i, j)"
         [class.reached]="isReached(i, j)"
         [class.landing]="isLanding(i, j)"
         [class.illegal-landing]="isIllegalLanding(i, j)"
         [class.light-bg]="(i + j) % 2 === 0"
         [class.dark-bg]="(i + j) % 2 !== 0"
         (click)="onCellClick(i, j)">
      <div *ngIf="piece" class="piece" [class.white-piece]="piece === piece.toUpperCase()" [class.black-piece]="piece === piece.toLowerCase()">{{ getPieceSymbol(piece) }}</div>
      <div *ngIf="getCooldownOpacity(i, j) > 0" class="cooldown-overlay"
           [style.opacity]="getCooldownOpacity(i, j)"></div>
    </div>
  </div>
</div>